@model IEnumerable<CentiroHomeAssignment.Models.OrderRow>

@{
    ViewData["Title"] = "GetAll";
}

<h1>All Orders</h1>

<p>
    <a asp-action="CreateOrder">Create New Order</a>
</p>
<div>
    @if (Model.Count() == 0)
    {
        <h5> No orders to show</h5>
    }
    else
    {
        <p>Number of orders : @Model.Count() orders</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderLineNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductGroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderLineNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerNumber)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditOrder", new { id = item.Id })
                            @Html.ActionLink("Details", "GetOrderById", new { id = item.Id })
                            @Html.ActionLink("Delete", "DeleteOrder", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

